body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: paleturquoise;
}

.container {
    width: 300px;
    padding: 20px;
    margin: 5%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: paleturquoise;
    color: black;
    cursor: pointer;
}

.button:hover { 
    background-color: black;
    color: paleturquoise;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin: 8px 0;
}

.flash-messages {
    list-style-type: none;
    font-weight: bold;
    color: blueviolet;
}