<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Chat - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h2>Login</h2>
        </div>
        <form action="{{ url_for('login') }}" method="POST">
            <label style="font-weight: bold;" for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label style="font-weight: bold;" for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <div class="heading">
                <button class="button" type="submit">Login</button>
            </div>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
